<h1>Coupons</h1>

    <% @coupons.each do |coupon| %>
        <div><%= link_to coupon.coupon_code, coupon_path(coupon)%> | <%= coupon.store %></div>
    <% end %>
    <!-- Need to change coupons_path TO coupon_path .... NEED to create the show path since it does not exsist right now -->